{% extends 'base.html.twig' %}

{% block title %}Ledstrip control
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('leds') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('leds') }}
{% endblock %}

{% block body %}
	{% include 'main/_bar.html.twig' %}

	<div class="ms-2 text-secondary">
		<h3>Controle éclairage</h3>
	</div>
	<div class="container mt-4 mb-4">

		<div class="row mb-4 ms-2">
			<div class="col-3 col-md-2 col-lg-1 text-secondary">On/Off:</div>
			<!-- checkbox on/off -->
			<div class="col-2 col-md-2 col-lg-1">
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="myonoffswitch">
				</div>
			</div>
		</div>
		<div
			class="row">
			<!-- Onglets -->
			<ul class="nav nav-pills flex-column flex-sm-row nav-fill">
				<li class="nav-item">
					<a class="flex-sm-fill text-sm-center nav-link active" data-bs-toggle="tab" aria-current="page" href="#a">Leds couleur</a>
				</li>
				<li class="nav-item">
					<a class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" href="#b">Leds effet</a>
				</li>
				<li class="nav-item">
					<a class="flex-sm-fill text-sm-center nav-link" data-bs-toggle="tab" href="#c">Leds timer</a>
				</li>
			</ul>
			<div
				class="tab-content text-center">

				<!-- 1er onglet -->
				<div
					id="a" class="tab-pane fade show active">
					<!-- sliders -->
					<div class="container text-secondary">
						<div class="mt-2 mb-2 ms-2">
							Changer la couleur:
						</div>
						<div class="row justify-content-center">
							<div class="col-2 col-lg-1">
								<label for="rSlider" class="d-block form-label">R:</label>
								<label for="gSlider" class="d-block form-label">G:</label>
								<label for="bSlider" class="d-block form-label">B:</label>
							</div>
							<div class="col-6 col-md-4 col-lg-2">
								<input type="range" class="form-range" min="0" max="255" id="rSlider">
								<input type="range" class="form-range" min="0" max="255" id="gSlider">
								<input type="range" class="form-range" min="0" max="255" id="bSlider">
							</div>
							<div class="col-8 col-sm-4 col-lg-3">
								<div id="colorBox"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- fin du 1er onglet -->

				<!-- 2eme onglet -->
				<div id="b" class="tab-pane fade">
					<div class="container text-secondary">
						<div class="mt-2 mb-2 ms-2">
							Sélectionner un effet:
						</div>
						<div class="row mt-4 justify-content-center">
							<div class="col-4 col-md-2 col-lg-1">
								<input type="radio" name="effets" id="effet1" num="1" class="form-check-input"/>
								<label for="effet1" class="form-check-label ms-1">Effet 1</label>
								<div class="mt-4"></div>
								<input type="radio" name="effets" id="effet4" num="4" class="form-check-input"/>
								<label for="effet4" class="form-check-label ms-1">Effet 4</label>
							</div>
							<div class="col-4 col-md-2 col-lg-1 offset-lg-1">
								<input type="radio" name="effets" id="effet2" num="2" class="form-check-input"/>
								<label for="effet2" class="form-check-label ms-1">Effet 2</label>
								<div class="mt-4"></div>
								<input type="radio" name="effets" id="effet5" num="5" class="form-check-input"/>
								<label for="effet5" class="form-check-label ms-1">Effet 5</label>
								<div class="mt-4"></div>
								<input type="radio" name="effets" id="effetstop" num="0" class="form-check-input"/>
								<label for="effetstop" class="form-check-label ms-1">Stop</label>
							</div>
							<div class="col-4 col-md-2 col-lg-1 offset-lg-1">
								<input type="radio" name="effets" id="effet3" num="3" class="form-check-input"/>
								<label for="effet3" class="form-check-label ms-1">Effet 3</label>
								<div class="mt-4"></div>
								<input type="radio" name="effets" id="effet6" num="6" class="form-check-input"/>
								<label for="effet6" class="form-check-label ms-1">Effet 6</label>
							</div>
						</div>
					</div>
				</div>
				<!-- fin du 2eme onglet -->

				<!-- 3eme onglet -->
				<div id="c" class="tab-pane fade">
					<div class="container text-secondary">
						<div class="mt-2 mb-2 ms-2">Placer un timer:
						</div>
						<div class="row justify-content-center">
						<div class="col-12 col-md-8 col-lg-6 col-xl-5">
							<div class="row justify-content-evenly mt-2">
								<div class="col-3 col-md-3 col-lg-2 col-xl-1">
									<label for="timepicker_deb">Début:</label>
								</div>
								<div class="col-6 col-md-5 col-lg-4 col-xl-4">
									<div class="input-group timepicker_deb">
										<input type="text" class="form-control" id="debut_time">
										<span class="input-group-text input-group-addon">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewbox="0 0 16 16">
												<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
												<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
											</svg>
										</span>
									</div>
								</div>
							</div>
							<div class="row justify-content-evenly mt-2">
								<div class="col-3 col-md-3 col-lg-2 col-xl-1">
									<label for="timepicker_fin">Fin:</label>
								</div>
								<div class="col-6 col-md-5 col-lg-4 col-xl-4">
									<div class="input-group timepicker_fin">
										<input type="text" class="form-control" id="fin_time">
										<span class="input-group-text input-group-addon">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewbox="0 0 16 16">
												<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
												<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
											</svg>
										</span>

									</div>
								</div>
							</div>
							<div class="row justify-content-evenly mt-4">
								<div class="col-4">
									<button class="btn btn-primary" id="but_efface">Effacer</button>
								</div>
								<div class="col-4">
									<button class="btn btn-primary" id="but_enregistre">Enregistrer</button>
								</div>
							</div>
						</div>
						<div class="row mt-4" id="list-timer">
							<div class="col-3 col-sm-2 col-lg-1">
								Début
								<div id="heure_deb"></div>
							</div>
							<div class="col-3 col-sm-2 col-lg-1">
								Fin
								<div id="heure_fin"></div>
							</div>
							<div class="col-3 col-sm-2 col-lg-1 offset-lg-1">
								E-mail
								<div class="form-check">
									<input class="form-check-input" type="checkbox" name="email" id="email"/>
								</div>
							</div>
							<div class="col-3 col-sm-2 col-lg-1">
								Suppr
								<div id="heure_deb"></div>
								<button class="btn btn-primary btn-sm" id="icon_eraser">
									<i class="bi bi-trash"></i>
								</button>
							</div>
						</div>
					</div>
					</div>
				</div>
				<!-- fin du 3eme onglet -->

			</div>
		</div>
	</div>
{% endblock %}
