{% extends 'base.html.twig' %}

{% block title %}Motion detection
{% endblock %}


{% block body %}
	{% include 'main/_bar.html.twig' %}


	{% block javascript %}
		<script type="text/javascript" src="{{ asset('js/highstock.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/mouv.js') }}"></script>

	{% endblock %}

	<div class="d-flex flex-column justify-content-center align-items-center">
		<div id="container" style="width: 80%; height: 400px;"></div>
	</div>

{% endblock %}
