{% extends 'base.html.twig' %}

{% block title %}Motion detection
{% endblock %}

{% block body %}
	{% include 'main/_bar.html.twig' %}

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('mouv') }}
	{% endblock %}
	<style>
		.form-check-input {
			transform: scale(1.4);
		}
	</style>
	<div class="ms-2 text-secondary">
		<h3>Détection de mouvements</h3>
		<p>Activité enregistrée par le capteur:</p>
	</div>
	<div class="d-flex flex-column justify-content-center align-items-center">
		<div id="container_chart" style="width: 80%; height: 475px;"></div>
		<br>
		<div class="container col-7">
			<div class="row text-secondary">
				<div class="col-8 col-md-5">
					Declencher enregistrement vidéo :
				</div>
				<div class="col-4 col-md-2">
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="myenr_switch">
						<label class="form-check-label" for="myenr_switch"></label>
					</div>
				</div>
			</div>
			<div class="row mt-2 text-secondary">
				<div class="col-8 col-md-5">
					Declencher alerte e-mail avec photo :
				</div>
				<div class="col-4 col-md-2">
					<div class="alrt_switch">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" id="myalrt_switch">
							<label class="form-check-label" for="myalrt_switch"></label>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-2 mb-4 text-secondary">
				<div class="col-8 col-md-5">
					Fréquence de rafraichissement du graph :
				</div>
				<div class="col-4 col-md-2">
					<select class="form-select form-select-sm" aria-label=".form-select-sm example" id="refresh">
						<option>5</option>
						<option>10</option>
						<option>15</option>
					</select>
				</div>
				minutes.
			</div>
		</div>
	</div>
{% endblock %}
