{% extends 'base.html.twig' %}

{% block title %}test
{% endblock %}


{% block body %}
	{% include 'main/_bar.html.twig' %}
	<div class="mb-4" id="cadre_foreground"></div>
	<div id="tableau">{{ id }}</div>
{% endblock %}
