{% extends 'base.html.twig' %}

{% block title %}Vidéos enregistrées
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('gallery') }}
{% endblock %}


{% block body %}
	{% include '_bar.html.twig' %}
	<div class="container">
		<div class="row mt-2 text-center">
			<div class="col-6 col-md-3 mb-2">
				<button type="button" id="but_all" class="btn btn-sm btn-primary">Toutes</button>
			</div>
			<div class="col-6 col-md-3 mb-2">
				<button type="button" id="but_none" class="btn btn-sm btn-primary">Aucune</button>
			</div>
			<div class="col-6 col-md-3 mb-2">
				<button type="button" id="but_download" class="btn btn-sm btn-primary">Télécharger</button>
			</div>
			<div class="col-6 col-md-3">
				<button type="button" id="but_supprime" class="btn btn-sm btn-primary">Supprimer</button>
			</div>
		</div>
	</div>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div id="tableau">{{ videos | raw }}</div>
{% endblock %}
