$progress-bg: #000000a6;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
}

.font-color{
    color: $secondary;
}

// for navbar only
#my_navbar .active {
    color: $danger !important;
}

.form-check-input {
    transform: scale(1.4) !important;
}

.petite {
    font-size: 0.7em;
}
.xpetite {
    font-size: 0.5em;
}
