@import "~clockpicker/dist/bootstrap-clockpicker.css";
@import "~clockpicker/dist/jquery-clockpicker.css";


.form-check-input {
    transform: scale(1.4);
}
#colorBox {
    height: 104px;
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 6px;
}
