@import "weather-icons.min.css";

.gadget_allume {
  padding: 2px 50px;
  background: #c9f7b8;
  border-radius: 5px;
}

.alerte_allume
{
  padding: 2px 50px;
  background: #ffe4e4;
  border-radius: 5px;
}