<div id="tableau">
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=16-08-2022_11h53m03s_event10.mp4&id=12"><img src="images/16-08-2022_11h53m03s_event10.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">16-08-2022_11h53m03s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/16-08-2022_11h53m03s_event10.mp4" data-id_nb="12"></div>
		</div>
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=15-08-2022_17h18m32s_event09.mp4&id=10"><img src="images/15-08-2022_17h18m32s_event09.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">15-08-2022_17h18m32s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/15-08-2022_17h18m32s_event09.mp4" data-id_nb="10"></div>
		</div>
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=15-08-2022_12h03m54s_event08.mp4&id=9"><img src="images/15-08-2022_12h03m54s_event08.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">15-08-2022_12h03m54s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/15-08-2022_12h03m54s_event08.mp4" data-id_nb="9"></div>
		</div>
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=15-08-2022_12h01m19s_event07.mp4&id=8"><img src="images/15-08-2022_12h01m19s_event07.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">15-08-2022_12h01m19s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/15-08-2022_12h01m19s_event07.mp4" data-id_nb="8"></div>
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=15-08-2022_10h08m57s_event06.mp4&id=7"><img src="images/15-08-2022_10h08m57s_event06.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">15-08-2022_10h08m57s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/15-08-2022_10h08m57s_event06.mp4" data-id_nb="7"></div>
		</div>
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=14-08-2022_18h09m44s_event05.mp4&id=6"><img src="images/14-08-2022_18h09m44s_event05.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">14-08-2022_18h09m44s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/14-08-2022_18h09m44s_event05.mp4" data-id_nb="6"></div>
		</div>
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=14-08-2022_18h05m27s_event04.mp4&id=5"><img src="images/14-08-2022_18h05m27s_event04.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">14-08-2022_18h05m27s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/14-08-2022_18h05m27s_event04.mp4" data-id_nb="5"></div>
		</div>
		<div class="col-12 col-sm-8 col-md-5 col-md-4 col-xl-3 text-center">
			<a href="player.php?event=13-08-2022_17h51m42s_event03.mp4&id=4"><img src="images/13-08-2022_17h51m42s_event03.jpg" alt="Vidéo en cours de création..."></a>
			<div class="text-center">
				<span class="petite nom">13-08-2022_17h51m42s</span><input type="checkbox" class="ms-2 video_select" data-url="../images/13-08-2022_17h51m42s_event03.mp4" data-id_nb="4"></div>
		</div>
	</div>
</div>
