{% extends 'base.html.twig' %}
	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('temp') }}
	{% endblock %}

{% block title %}Suivi température
{% endblock %}


{% block body %}
	<div class="ms-2 text-secondary">
		<h3>Suivi des températures</h3>
		<p>Temperatures enregistrées:</p>
	</div>
	<div class="d-flex flex-column justify-content-center align-items-center">
		<div id="container_chart" style="width: 85%; height: 475px;"></div>
	</div>
{% endblock %}
